<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>М.Г. - Проекты</title>
        <%- include('../../blocks/head/head'); %>
    </head>
    <body>
        <%- include('../../blocks/menu/menu', {state: 'projects'}); %>
        <div class="limiter">
            <h1>Хуекты</h1>

            <article class="content">

            </article>
            <%- include('../../blocks/footer/footer'); %>
        </div>
        <%- include('../../blocks/insertion/insertion'); %>
    </body>
</html>


