size-s = 480px;
size-m = 768px;
size-l = 992px;
size-xl = 1200px;

$color-light-gray = lighten(#000, 50);
$color-gray = lighten(#000, 30);
$color-red = 'red';
$color-blue = #0CC;
$color-yellow = #FC0;
$color-green = #095E29;

// GRID
$g-1 = (100 / 21) %; // 4.761
$g-2 = (100 / 18) %; // 5.5
$g-3 = (100 / 15) %; // 6.666
$g-4 = (100 / 12) %; // 8.333
$g-5 = (100 / 9) %; // 11,11
$g-6 = (100 / 6) %; // 16,66
$g-7 = (100 / 3) %; // 33,33
