<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>М.Г. - События</title>
        <%- include('../../blocks/head/head'); %>
    </head>
    <body>
        <%- include('../../blocks/menu/menu', {state: 'events'}); %>
        <div class="wrapper">
            <article class="content">
                <h2>Ну что-то же должно произойти?</h2>
            </article>
            <%- include('../../blocks/footer/footer'); %>
        </div>
        <%- include('../../blocks/insertion/insertion'); %>
    </body>
</html>

