<nav class="menu">
    <a href="index.html" class="menu__item<% if (state === 'index') { %> active<% } %>"><span>Гостевая</span></a>
    <a href="think.html" class="menu__item<% if (state === 'think') { %> active<% } %>"><span>Мысли</span></a>
    <a href="projects.html" class="menu__item<% if (state === 'projects') { %> active<% } %>"><span>Проекты</span></a>
    <a href="events.html" class="menu__item<% if (state === 'events') { %> active<% } %>"><span>События</span></a>
</nav>
