<footer class="footer">
    <h2>Для связи</h2>
    <ul>
        <li>Почта <a href="mailto:lkdnvc@gmail.com">lkdnvc@gmail.com</a></li>
        <li>Телеграм @<a href="https://telegram.me/mgryaznov">mgryaznov</a></li>
    </ul>

    <p>
        Исходники сайта на <a href="https://github.com/lkdnvc/home">гитхаб</a>
    </p>
</footer>
