<footer class="footer">
    <div class="footer__wrapper">
        <a href="mailto:lkdnvc@gmail.com">
            <img style="height: 1.5rem" src="assets/footer/gmail.svg" alt="lkdnvc@gmail.com" title="почта">
        </a>
        <a href="https://github.com/lkdnvc">
            <img style="height: 1.5rem" src="assets/footer/github.svg" alt="гитхаб" title="гитхаб">
        </a>
        <a href="https://telegram.me/mgryaznov">
            <img style="height: 1.5rem" src="assets/footer/telegram.svg" alt="телеграм" title="телеграм">
        </a>
        <a href="https://twitter.com/lkdnvc">
            <img style="height: 1.5rem" src="assets/footer/twitter.svg" alt="твитер" title="твитер">
        </a>
        <a href="https://vk.com/lkdnvc">
            <img style="height: 1.5rem" src="assets/footer/vkontakte.svg" alt="вконтакте" title="вконтакте">
        </a>
    </div>
</footer>
