.footer
{
    padding-top 2.2rem
    padding-bottom 2.6rem

    &__wrapper
    {
        padding 0 .5rem

        position relative

        &:after
        {
            content ''
            position absolute
            top .4em
            left 0
            right 0
            bottom 0
            background lighten(#000, 95)
            z-index -1
        }
    }

    a
    {
        text-decoration none
    }

    a:not(:last-child)
    {
        padding-right 2.5ex
    }
}
