<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('../../blocks/head/head'); %>
        <%- include('../../blocks/style-load/style-load', {pageName: 'projects'}); %>
    </head>
    <body>
        <%- include('../../blocks/menu/menu', {state: 'projects'}); %>

        <h1>Вспоминаю...</h1>

        <%- include('../../blocks/footer/footer'); %>
    </body>
</html>
