html
{
    height 100%
    box-sizing border-box
    //-webkit-text-size-adjust 100%
    //-ms-text-size-adjust 100%
    //text-size-adjust 100%
    color lighten(#000, 20)
}

*
{
    margin 0
    padding 0
    box-sizing: inherit
}

*:before, *:after
{
    box-sizing inherit

}

body
{
    min-height 100%
    position relative
    overflow-y scroll
}

a
{
    color inherit
    text-decoration underline

    &:hover, &:visited:hover
    {
        color #C00
    }

    &:visited
    {
        color #B40EB4
    }
}

img,
embed,
object,
audio,
video
{
    height auto
    max-width 100%
}

.wrapper
{
    padding 0 .5rem
}

article
{
    &.content
    {
        p
        {
            max-width 67ex
        }
    }
}

@media (min-width: size-m)
{
    .wrapper,
    .menu
    {
        margin-left $g-4
    }

    .im-panda
    {
        margin-left -($g-1)
    }
}

@media (min-width: size-l)
{

    .wrapper,
    .menu
    {
        margin-left $g-6
    }
}
