html
{
    height 100%
    box-sizing border-box
    //-webkit-text-size-adjust 100%
    //-ms-text-size-adjust 100%
    //text-size-adjust 100%
    color lighten(#000, 20)
}

body
{
    padding 0 .5rem
}

*
{
    margin 0
    padding 0
    box-sizing: inherit
}

*:before, *:after
{
    box-sizing inherit

}

body
{
    min-height 100%
    position relative
    overflow-y scroll
}

a
{
    text-decoration underline
    color inherit

    &:visited,
    &:visited *
    {
        color #B40EB4
    }

    &:hover,
    &:visited:hover,
    &:visited:hover *
    {
        color #C00
    }
}

img,
embed,
object,
audio,
video
{
    height auto
    max-width 100%
}

article
{
    &.content
    {
        p
        {
            max-width $max-length
        }
    }
}

.vw-100
{
    position relative
    right .5rem
    width calc(100% + 1rem)
}

.limiter .limiter
{
    padding 0 .5rem
}

@media (min-width: size-m)
{
    .limiter .limiter
    {
        padding 0
    }

    .limiter,
    .menu
    {
        margin-left $g-4
    }

    .im-panda
    {
        margin-left -($g-1)
    }

    .vw-100
    {
        position relative
        right calc(100vw - (100vw * .916666) + .5rem)
        width calc(100% + (100vw - (100vw * .916666) + 1rem))
    }
}

@media (min-width: size-l)
{
    .limiter,
    .menu
    {
        margin-left $g-6
    }

    .vw-100
    {
        position relative
        right calc(100vw - (100vw * .833333) + .5rem)
        width calc(100% + (100vw - (100vw * .833333) + 1rem))
    }
}
