body
{
    font: 125% / 1.58 'PT Serif', 'Times New Roman', Georgia, serif

}

h1,
h2,
h3,
h4
{
    font-weight 900
    color #000
}

h1
{
    font: 250% Roboto, Geneva, Verdana, sans-serif
    margin: 1.8em 0 .5em
}

h2
{
    font: 200% Roboto, Geneva, Verdana, sans-serif
    margin: 1.3em 0 .6em

}

h3
{
    font: 150% Roboto, Geneva, Verdana, sans-serif
    margin: 2.07em 0 .95em

}

ul
{
    list-style none
    margin-left 2em
    margin-bottom 1.55em
}

li
{
    position relative
    &:after
    {
        content '•'
        position absolute
        left -1em
        top -2px
    }
}

p
{
    margin-bottom 1.55em
    hyphens auto
}

pre
{
    display block
    padding .5rem
    margin -.5rem -.5rem .5rem -.5rem
    border-top 1px solid black
    border-bottom 1px solid black
}

.content h4:first-child
{
    margin-top 1.9em
}
