@import '../../style/var.styl'

.important-hd
{
    font: 15vw Roboto, Geneva, Verdana, sans-serif
    background #000
    color #FFF
    padding 4rem 0
    margin-bottom: .8rem
}

.subtitle-time
{
    font-size 90%
    font-style italic
    color $color-light-gray
    margin-bottom: 1.8rem;
    display: block;
}
