@import '../../style/var.styl'

.important-hd
{
    font: 15vw 'Lucida Grande', Geneva, Verdana, sans-serif
    background #000
    color #FFF
    padding 4rem 0
}

.subtitle-time
{
    font-size 90%
    font-style italic
    color $color-light-gray
    margin: -1.2rem 0 1.8rem;
    display: block;
}
