<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>М.Г. - Мыслы</title>
        <%- include('../../blocks/head/head'); %>
    </head>
    <body>
        <%- include('../../blocks/menu/menu', {state: 'think'}); %>
        <div class="wrapper">
            <article>
                <a href="/think/!important-for-professionals.html">
                    <h2>!important для профессионалов</h2>
                </a>
                <time class="subtitle-time" datetime="2016-11-13">13 ноября 2016</time>
                <p>так исторически сложилось</p>
            </article>
            <%- include('../../blocks/footer/footer'); %>
        </div>
        <%- include('../../blocks/insertion/insertion'); %>
    </body>
</html>
