<h1 class="my-name-is <% if (state === 'index') { %> active<% } %>">
  <a href="/index.html" >
    Максим Грязнов &downarrow;
  </a>
</h1>

<nav class="menu">
    <div class="menu__wrapper">
        <a href="/think.html" class="menu__item<% if (state === 'think') { %> active<% } %>">
            <span>Мысли</span>
        </a>
        <a href="/projects.html" class="menu__item<% if (state === 'projects') { %> active<% } %>">
            <span>Проекты</span>
        </a>
        <!-- <a href="/home/events.html" class="menu__item<% if (state === 'events') { %> active<% } %>">
            <span>События</span>
        </a> -->
    </div>
</nav>
