.my-name-is
{
  padding-top 1.6em
  margin-bottom: 1.2em
  font-size: 1em
  font-weight: normal
  color: lighten(#000, 25)
  font: 100%/1.58 'PT Serif','Times New Roman',Georgia,serif

  &.active a{
    color: #f00
  }
}
.menu
{
    display block
    margin-bottom 3.3rem
    margin-right -.5rem
    overflow hidden

    &__wrapper
    {
        display flex
        margin: 0 0 -2rem
        padding: 0 0 2rem
        overflow-x auto
        overflow-y hidden
        -webkit-overflow-scrolling touch

        &:after
        {
            content ''
            border-left: 10ex solid transparent
        }
    }

    &__item
    {
        position relative
        display block
        text-decoration none
        padding .5rem 0
        margin-right 3ex

        &:visited *
        {
            color #000
        }

        &.active span
        {
            color #C00 !important
            border-bottom 3px solid
        }

        &.active:hover span
        {
            border-bottom 3px solid
        }

        &:hover span
        {
            border-bottom 1px solid
        }
    }
}
