<nav class="menu">
    <div class="menu__wrapper">
        <a href="/home/dest/index.html" class="menu__item<% if (state === 'index') { %> active<% } %>">
            <span>Гостевая</span>
        </a>
        <a href="/home/dest/think.html" class="menu__item<% if (state === 'think') { %> active<% } %>">
            <span>Мысли</span>
        </a>
        <!-- <a href="/home/projects.html" class="menu__item<% if (state === 'projects') { %> active<% } %>">
            <span>Проекты</span>
        </a>
        <a href="/home/events.html" class="menu__item<% if (state === 'events') { %> active<% } %>">
            <span>События</span>
        </a> -->
    </div>
</nav>
