.menu
{
    display block
    padding-top 2.9em
    margin-bottom 4.1rem
    overflow hidden

    &__wrapper
    {
        display flex
        margin: 0 0 -2rem
        padding: 0 0 2rem
        overflow-x auto
        overflow-y hidden
        -webkit-overflow-scrolling touch

        &:after
        {
            content ''
            border-left: 10ex solid transparent
        }
    }

    &__item
    {
        position relative
        display block
        text-decoration none
        padding .5rem 0
        margin-right 3ex

        &:first-child{
            padding-left .5rem
        }
        &.active span
        {
            border-bottom 3px solid
        }

        &.active:hover span
        {
            border-bottom 3px solid
        }

        &.active:active span
        {
            border-bottom 1px solid
        }
    }
}
